.footer{
    background-color: $color-secondary;
    grid-column: main-start/main-end;


    &-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        list-style: none;
        grid-gap: 1rem;
        align-items: center;
        margin: 4rem 2rem;

        @media only screen and (max-width: $bp-small){
            grid-template-columns: 1fr;
        }

    }
    &-item{
         padding: .4rem 1rem;
        transition: all .2s;
        text-align: center;
        
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: $color-grey-light-1;
            font-size: 1.5rem;

        }
        &:hover{
            background-color: rgba($color-grey-light-1, .3);
        }

    }


}

.copyright{
    width: 70%;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.3rem;
    color: $color-grey-light-1;
}